caption {
  color: #3a3f59;
  font-family: arial black;
}

.taula {
  background-color: #f2f0e6;
  border-collapse: collapse;
}

.bluish {
  background-color: #8d91a6;
}

.brownish {
  background-color: #a6a08d;
}

td {
  padding-right: 1em;
}
