<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://10.5.104.100:3307/elordb</property>
  <property name="hibernate.connection.username">eloruser</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">none</property>
  <property name="hibernate.order_inserts">false</property>
  <property name="hibernate.search.autoregister_listeners">true</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <mapping class="com.elorserv.model.Users"/>
  <mapping class="com.elorserv.model.Tipos"/>
  <mapping class="com.elorserv.model.Horarios"/>
  <mapping class="com.elorserv.model.Ciclos"/>
  <mapping class="com.elorserv.model.Reuniones"/>
  <mapping class="com.elorserv.model.Modulos"/>
  <mapping class="com.elorserv.model.Matriculaciones"/>
 </session-factory>
</hibernate-configuration>
