/* Estekaren estiloa */
a {
    color: red;
    text-decoration: none;
}

/* Esteka bisitatua dagoenean */
a:visited {
    color: darkgreen;
    text-decoration: none;
}

/* Sagua gainean dagoenean */
a:hover {
    color: white;
    background-color: red;
    text-decoration: underline !important;
}

/* Tabuladorea erabiltzean */
a:focus {
    color: blue;
    text-decoration: underline;
}

/* Esteka aktibo dagoenean */
a:active {
    color: orange;
    text-decoration: none;
}