/*===============INDEX=======================*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 2em;
    font-family: sans-serif;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}

#izenburua {
    text-align: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    width: 0;
    overflow: hidden;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    transition: width 0.3s ease;

}

.dropdown:hover .dropdown-content {
    display: block;
    width: 200px;

}

.dropdown-content a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    text-decoration: underline;
    color: #FFFFFF;
    background-color: #00A4BD;
    outline: 2px solid #00A4BD;
}

.h2 {
    margin-top: 140px;
    font-size: 20px;
    display: flex;
    border-style: solid; /*index-aren produktu logo guztiak kaxa batean sartu*/
    border-color: #594018; /*kaxaren kolorea*/
    border-width: 5px; /*kaxaren bordearen grosorea*/
    display: flex;
    flex-direction: row; /*kaxaren posizioa ilaran agertzea*/
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /*kaxaren barruan dauden argazkiak kaxarekin batera zentratzea*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}

body {
    font-family: 'Century Gothic';
    background-color: #fbf4dd;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*==================GEHIEN SALDUTA========================*/

.tituloa {
    width: 100%;
    background: wheat;
    height: 100px;
    display: flex;
    align-items: center;
}

.tituloa h1 { /*goiburuan dagoen logoaren izenaren tamaina, kolorea eta posizioa*/
    color: #948554;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    flex-grow: 1;
}

.tituloa img { /*goiburuan dauden gure enpresa logoaren tamaina eta posizioa*/
    width: 135px; 
    max-height: 150px;
    object-fit: contain;
}

.nabigazioa { /*menuaren kolorea, tamaina eta posizioa*/
    width: 100%; /*zabalera*/
    background: #1c1c1c;
    display: flex;
    justify-content: center; /*zentratzeko*/
}

.menu {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    min-height: 90px;
}

.menu li {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #363636;
    position: relative;
}

.menu .lehehengo-item {
    border-left: 1px solid #363636;
}

.menu li a { /*menuaren barruan dagoen katalogoaren tamaina eta posizioa*/
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.menu .irudiak {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 0%;
    z-index: 20;
}

.menu li a .text-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    top: 0%;
    position: absolute;
    z-index: 10;
}

.menu li a .testuadesplegatu { /*katalogoko propietatea bakoitzari klikatzean, desplegatzen den submenuaren kolorea eta tamaina*/
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #1C1C1C;
}

.menu li:hover .testuadesplegatu,
.menu li:hover .text-item {
    top: 100%;
    height: 115%;
}

.menu li:hover .irudiak {
    width: 100%;
    right: 0px;
}


.gehiensaldutak { /*menuan gehien salduta aukera emanda, barruan dauden propietate guztien tamaina eta posizioa*/
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.card {
    margin-top: 100px;
    position: relative;
    width: 325px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
    transition: opacity 0.4s ease-in-out; /*arratoia gainean jarri eta 0.4 segundu geroago agertuko da*/
}

.text { /*arratoia argazkiaren gainean jarrita, produktu bakoitzaren testuaren posizioa, letra tamaina eta kolorea*/
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    height: 100%;
    display: flex;
    padding-left: 10px;
    background-color: rgba(28, 28, 28, 0.8);
    color: #fff;
    opacity: 0;
    width: 100%;
    transition: all 0.4s ease-in-out; /*arratoia gainean jarri eta 0.4 segundu geroago agertuko da*/
}

.card:hover .text {
    opacity: 1; /*testua hartzen duen kaparen opazitatea*/
}


/*==================SARE-SOZIALAK========================*/
.sare-sozialak { /*footerra*/
    font-size: 0.5em; /*letra tamaina*/
    display: flex;
    border-style: solid; /*footerran dauden propietate guztiak kaxa batean sartu*/
    border-color: #594018; /*kaxaren kolorea*/
    border-width: 5px; /*kaxaren bordearen grosorea*/
    display: flex;
    flex-direction: row; /*posizioa*/
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.resaltado {
    transition: color 0.3s ease; /*footerraren barruan "galdera-erantzunak" aukeran, arratoia gainean dagoenean, beltzetik urdinera resaltatuko da*/
}

.resaltado:hover { /*resaltearen kolorea*/
    color: blue; 
}

/*=======================NON-GAUDE================================*/

.mapak { /*"mapak" izenburuaren barruan dauden propietate guztien tamamina eta posizioa*/
    margin-top: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.main-mapak { 
    text-align: center;
}

.mapa-testua {
    top: 10px;
}

.mapa-irudiak {
    text-align: center;
    margin: 40px;

}

/*==================INFORMAZIOA========================*/

.guztizkoproduktuak { /*katalogoan informazioa klikatuz, produktu guztien elementuak zehaztuko dira*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));  
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif; 
}

.deskripzioak { /*produktu guztien irudi bakoitza kaxa batean sartu*/
    margin-top: 100px;
    position: relative;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 3px solid #594018; /*kaxaren grosorea eta kolorea*/
    padding: 10px;
    margin-top: 20px;
    justify-content: center; /*zentratzeko*/
    overflow: hidden; /*kaxatik ateratzen den guztia (irudia kasu honetan, kaxatik irtetzen bada, izkutatuko da*/
    text-align: center;
}

.deskripzioak p {
    width: 101%; 
}

.deskripzioak img { 
    object-fit: scale-down;
    object-fit: cover; 
    border-radius: 8px;
    transition: opacity 0.4s ease-in-out;
}

.oharrak { /*arratoia argazkiaren gainean jarrita, produktu bakoitzaren oharren posizioa, letra tamaina eta kolorea*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*posizionatzeko*/
    background-color: rgba(28, 28, 28, 0.8);
    color: white; /*oharren kolorea*/
    font-size: 20px; /*oharren letra tamaina*/
    padding: 15px;  
    border-radius: 8px;
    opacity: 0;
    height: 100%; 
    text-align: center; /*oharrak zentratuta jartzea*/
    text-align: left; 
    display: flex;  
    justify-content: center; 
    align-items: center;  
    transition: opacity 0.4s ease-in-out; /*arratoia gainean jarri eta 0.4 segundu geroago agertuko da*/
}
.deskripzioak:hover .oharrak {
    opacity: 1;
}

.deskripzioak {
    color: white; /*letra kolorea*/
    text-align: center; /*zentratuta egoteko*/
    margin: 5px;
    width: 480px; 
    height: 470px;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto; 
}

#edariak, #kojak, #ruffles, #pringles{
    display: flex;
    justify-content: space-between;
}

#ordutegi {
    background-color: #ffffff; /*ordutegiaren letra kolorea*/
}

thead {
    background-color: #2c3e50; /*ordutegiaren errenkada guztietako atzeko kolorea zehaztu*/
    color: white; /*letra kolorea*/
    text-align: center;
}

thead td {
    padding: 16px;
    font-size: 1.1em; /*ordutegiaren letra tamaina*/
    font-weight: 600; /*letraren grosorea*/
    text-transform: uppercase; /*maiuskulaz jartzeko*/
}

tbody td:hover {
    transform: scale(1.02); 
}

table { /*ordutegiaren tamaina*/
    width: auto;
    border-collapse: collapse;
    margin: 20px auto;
    margin-top: 140px;
}

th,
td {
    border: 3px solid #594018; /*ordutegiaren taularen bordeak marroiak izateko*/
    padding: 10px;
    text-align: center;
}

th {
    background-color: grey; /*egun batean denda itxita egon arren, ordutegian gris koloreko errenkada agertuko da*/
}

#pringles, #edariak, #ruffles, #txikleak, #kojak {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

@media screen and (max-width:600px){ /*respondive egiteko*/
    #logoa{
        display: none;
    }
    .menu{
        flex-direction: column; /*pantaila txikitzen denean, elementu guztiak zutabe moduan gertuko dira responsive hobeto ikusteko*/
    }
    .h2{
        flex-direction: column;
    }
    #edariak, #kojak, #ruffles, #pringles, #kojak{
        flex-direction: column;
        align-content: center;
    }
    .gehiensaldutak{
        width: 80%;
    }
    .guztizkoproduktuak{
        display:grid;
        grid-template-columns: (1, minmax(200px, 1fr)); 
        justify-content: center;
    }
    .sare-sozialak{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) { /*responsive*/
    .deskripzioak {
        width: 100%; 
    }
}

