body {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    border: 2px solid blue;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

/* BERDINA DA 
h1{
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}*/

h2 {
    border: 2px solid darkgray;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;

}

ul {
    border: 2px solid greenyellow;

}

li {
    margin-bottom: 0;
}

li+li {
    margin-top: 15px;
}